        <!-- Encabezado -->
        <h1 class="my-4">Lista de Profesores</h1>

        <!-- Botón para crear nuevo tutor -->
        <a href="/create" class="btn btn-outline-primary mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="transform: rotate(90deg);">
                <path fill-rule="evenodd" d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2h-6v6a1 1 0 1 1-2 0v-6H1a1 1 0 1 1 0-2h6V1a1 1 0 0 1 1-1z"/>
            </svg> Crear Nuevo Tutor
        </a>

        <!-- Tabla de Tutores -->
        <table class="table table-bordered table-striped text-center">
          <thead class="bg-primary text-white">
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Sexo</th>
                  <th scope="col">Acciones</th>
                  <!-- Agregar más columnas según los datos adicionales -->
                  <!-- Por ejemplo: <th scope="col">Dirección</th> -->
              </tr>
          </thead>
          <tbody>
              <% results.forEach((tutor) => { %>
                  <tr>
                      <td><%= tutor.id_profesor %></td>
                      <td><%= tutor.nombre %> <%= tutor.apellido_P %> <%= tutor.apellido_M %></td>
                      <td><%= tutor.correo %></td>
                      <td><%= tutor.telefono %></td>
                      <td><%= tutor.sexo %></td>
                      <!-- Agregar más celdas según los datos adicionales -->
                      <!-- Por ejemplo: <td><%= tutor.direccion %></td> -->
                      <td>
                        <a href="/edit/<%= tutor.id_tutor %>" class="btn btn-outline-info">Editar</a>
                    </td>
                  </tr>
                  
              <% }); %>
          </tbody>
      </table>