<h1 class="my-4">Lista de Usuarios</h1>

<!-- Botón para crear nuevo tutor -->
<a href="/UsuarioCreate" class="btn btn-outline-primary mb-4">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor" style="transform: rotate(90deg);">
    <path fill-rule="evenodd" d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2h-6v6a1 1 0 1 1-2 0v-6H1a1 1 0 1 1 0-2h6V1a1 1 0 0 1 1-1z"/>
  </svg> Crear Usuario
</a>

<table class="table table-bordered table-striped text-center">
  <thead class="bg-primary text-white">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">codigo</th>
      <th scope="col">rol</th>
      <th scope="col">idreferencia</th>
      <th scope="col">Nombre</th>
      <th scope="col">telefono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% results.forEach((alumno) => { %>
      <tr>
        <td><%= alumno.id_usuario %></td>
        <td><%= alumno.codigo_usuario %></td>
        <td><%= alumno.tipo_usuario %></td>
        <td><%= alumno.id_referencia %></td>
        <td><%= alumno.nombre %> <%= alumno.apellido %></td>
        <td><%= alumno.telefono %></td>
        <td>
          <a href="/editarUsuario/<%= alumno.id_usuario %>/<%= alumno.codigo_usuario %>" class="btn btn-outline-info">Editar</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
